body {
    background-color: #222;
}
#wrap {
    background-color: #fff;
    width: 440px; height: 956px;
    margin: 0 auto;
    background-size: cover;
    text-align: center;
    padding-top: 100px;/* wrap >title */
}
#wrap #title { margin: 0 0 30px; /* title +contents */}
#wrap #title p {
    font-size: 1.25rem;
    margin: 0 0 14; /* p+h1 */
}
#wrap #title h1 {
    font-size: 1.56rem;
    padding-bottom: 30px;
    font-family:'MaruBuri-B',sans-serif; ;
}
#wrap #contents {
    margin: 0 0 94px; /* contents + button */
}
#wrap #contents p {
    font-size: 0.94rem;
    margin: 0 auto;
}
#wrap #contents .month { 
    margin-bottom: 20px; /* p+p 간격 */
    color: #888;
    font-style: italic;
}
#wrap #contents .flower { line-height: 1.5; /* 행간 150% */}
#wrap #contents .flower em {
    font-size: 1.13rem;
}
#wrap #sharing {
    width: 250px; line-height: 40px;
    background-color: #000;
    color: #fff;
    border-radius: 20px;
    margin-bottom: 10px;
    margin: 0 auto 20px;
}
#wrap #sharing:hover {
    background-color: #222;
}
#wrap .back {
    display: block;
}
#wrap .back:hover {
    text-decoration:underline;
}